/*
Author: Tamim Hossain
Project: CRM
Start Date: 10-07-2024

*/
// Module =====
/*
1. Navbar
2. Header
3. Features
4. Essential App
5. Product Data
6. Customer feedback
7. Community
8. Footer

*/

// Utilitis =====
@forward "./base/index";
@use "./utiles/index";

main {
  max-width: 1920px;
  width: 100%;
  background: index.$main_bg;
}

@mixin container($width) {
  max-width: $width;
  width: 100%;
  margin: 0 auto;
}

// Navbar <!----------------------!>
nav {
  @include container(1290px);
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  .logo img {
    padding: 10px 0;
  }
  .main__menu {
    max-width: 544px;
    width: 100%;
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      li a {
        color: #fff;
        transition: 0.2s ease-in;
        line-height: 20px;

        i {
          padding: 5px;
        }
      }
    }
  }
  .cta__button {
    padding: 10px 0;
  }
}

// Header <!----------------------!>
header {
  padding-top: 20px;
  text-align: center;

  figure img {
    width: 128px;
    padding: 20px 0;
  }
  p {
    max-width: 799px;
    margin: 0 auto;
    color: #8f9bb7;
    padding: 0 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  .header__hero {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin-top: 20px;
    padding: 0 20px;

    background-image: url("../assets/q-7bea4872.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
    .button__box {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 30px;
    }
    figure {
      position: relative;
      max-width: 878px;
      width: 100%;
      margin: 0 auto;
      padding-top: 80px;
      z-index: 10;
      img {
        width: 100%;
      }
    }
    span {
      position: absolute;
      z-index: 1;
    }
    .left__fade {
      max-width: 400px;
      height: 400px;
      left: 0;
      bottom: 0;
      img {
        width: 100%;
      }
    }
    .left__spiral {
      left: 50px;
      top: 18%;
    }
    .right__fade {
      max-width: 400px;
      height: 400px;
      right: 0;
      bottom: 20%;
      img {
        width: 100%;
      }
    }
    .right__spiral {
      top: 15%;
      right: 40px;
    }
  }
}
// Features <!----------------------!>
.features {
  position: relative;
  text-align: center;
  padding: 20px 0;
  color: #fff;

  h1 {
    font-size: 22px;
    padding: 20px 0;
  }
  .features__left {
    position: absolute;
    top: 70%;
    left: 0;
  }
  .features__right {
    position: absolute;
    top: 50%;
    right: 0;
  }
  .features__type {
    @include container(1250px);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    position: relative;
    .item {
      position: relative;

      border-radius: 15px;
      align-content: top;
      text-align: left;
      .double {
        display: flex;

        justify-content: space-between;
        article:last-child {
          align-content: center;
        }
      }

      .hover__bg {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 50px 20px;
        border: 1px solid index.$border;
        background-color: index.$card_bg;
        border-radius: 15px;
        z-index: 10;
        h2 {
          font-size: 22px;
          padding: 15px 0;
        }
        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 23.5px;
          color: #8f9bb7;
        }
      }
      span {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 15px;
        top: 0;
        left: 0;
        background: linear-gradient(120deg, #331c9c, #9066fb);

        transition: 1s ease;
        z-index: 1;
      }
      &:hover span {
        transform: rotate(3deg);
      }
    }

    .item7 {
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }
}

// Essential App <!----------------------!>
.app-section{
  width:100%;
  position: relative;
  overflow: hidden;
  padding:20px 0;
  .bg-icon{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
  }
  .left-icon{
    position:absolute;
    top:50%;
    left:30px;
    
  }
  .right-icon{
    position:absolute;
    bottom:10%;
    right:30px; 
    
  }
  .app {
    @include container(1224px);
    padding: 0 20px;
    text-align: center;
    position:relative;
    
   
    .app_header {
      margin-top: 40px;
      padding: 20px;
      color: #fff;
      display: flex;
      background-color: index.$card_bg;
      border: 1px solid index.$border;
      border-radius: 15px;
      gap: 1rem;
      justify-content: space-between;
      position: relative;
      z-index:10;
      .left {
        width: 50%;
        text-align: left;
        align-content: center;
        display:grid;
        gap:1rem;
       
       
      }
      .right {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
    .app_information{
      display:flex;
      padding:20px 0;
      gap:1rem;
      position: relative;
     justify-content: space-between;
     z-index:10;
      .left{      
        width:30%;
        padding:20px;
        background-color: index.$card_bg;
        border: 1px solid index.$border;
        border-radius:15px;
        display:flex;
        flex-direction:column;
        gap:1rem;
        justify-content:space-between;
        img{
          width:100%;
          margin:0 auto;
        }
      }
      .right{
        
        width:65%;
        border-radius:15px;
        padding:55px 50px 0;
        background-color: index.$card_bg;
        border: 1px solid index.$border;
        display:flex;
        gap:1rem;
        flex-direction:column;
        justify-content:space-between;
        img{
          width:100%;
          margin-bottom:-1px;
        }
      }
      
    }
    .app_buttons{
      padding:20px;
      border-radius:96px;
      border:1px solid index.$border;
      width:100%;
      display:flex;
      justify-content: center;
      gap:1rem;
      background:linear-gradient(#0F0E1E 55%,#0F0E1E00)
    }
  }
}

// Product Date <!----------------------!>
.default-info{
  width:100%;
  padding:20px;
  .container{
    @include container(1180px);
    background-color:#0F0E1E;
    padding:50px;
    display:grid;
    gap:1.2rem;
    border-radius:15px;
  border:1px solid index.$border;
    grid-template-columns: repeat(2,1fr);
     
  }
  
}
// Customer feedback <!----------------------!>

// Community <!----------------------!>

// Footer <!----------------------!>

// Responsive for mobile Device<!----------------------!>
@media only screen and (max-width: 768px) {
  .fade_btn,
  h1 {
    font-size: 32px;
  }
  h3{
    font-size:18px ;
  }
  p{
    font-size:14px ;
  }
  .menu__icon {
    display: inline;
    background: transparent;
    cursor: pointer;
  }
  nav {
    padding: 0 20px;
  }
  nav .main__menu,
  nav .cta__button {
    display: none;
  }

  nav .logo img {
    width: 80px;
  }
  header {
    p {
      font-size: 14px;
      line-height: inherit;
    }
    .header__hero {
      background-size: contain;
      background-position-y: 20%;
      .left__spiral,
      .right__spiral {
        top: 50%;
      }
      .left__spiral img,
      .right__spiral img {
        width: 50%;
      }
    }
  }
  .features {
    .features__type {
      grid-template-columns: repeat(2, 1fr);
      .item .hover__bg {
        h2 {
          font-size: 14px;
        }
      }
      .item7 {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
  .app-section{
    .app {
      .app_header {
        width:100%;
        flex-direction: column-reverse;
        justify-content: center;
        padding:40px;
        gap:1.8rem;
        .left,
        .right {
          width: 100%;
          text-align: center;
        }
        .left{
         
          button{
            margin:0 auto;
          }
        }
      }
      .app_information{
        flex-direction:column;
        .left,.right{
          width:100%;
        }
        .left{
          img{
            width:60%;
          }
        }
      }
     
    }
  }
  
}

// Responsive for Tablet Device<!----------------------!>
@media only screen and (min-width: 768px) {
  .menu__icon {
    display: none;
  }
  nav {
    padding: 0 20px;
  }

  nav > * {
    transform: scale(0.8);
  }
  .features {
    .features__type {
      div {
        h2 {
          font-size: 16px;
        }
      }
    }
  }
}
