@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.fade {
  background: #282d456c;
  border: 1.2px solid #282d45;
}
button {
  width:fit-content;  
  padding: 15px 25px;
  color: #fff;
  font-weight: 600;
  font-size:16px;
  border-radius: 40px;
  cursor: pointer;
  background: linear-gradient(90deg, #331c9c, #9066fb);
}
a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

h1 {
  
  color: white;
  font-size: 65px;
  font-weight: 500;
}
h3{
  color:#F6F6F7;
  font-size: 32px;
  font-weight:500;
}
h4{
  font-size:12px;
  color:#96A1B1;
  text-transform:uppercase;
  line-height:14px;
}
p{
  font-size:16px;
  font-weight:400;
  line-height:24px;
  color:#8F9BB7;
}
.fade_btn{
  font-size: 65px;
  background-clip: text;
  background-image: linear-gradient(#ffffff, #2a2355);
  color: transparent;
  line-height:63px;
}
::placeholder{
  color:#fff;
}